
.page-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2d2a2a;
  
}

.form-container {
  padding: 2rem 1rem;
  border-radius: 45px;
  border-radius: 40px;
  background: linear-gradient(315deg, #322f2f, #3b3838);
  box-shadow:  -28px -28px 56px #161515,
             28px 28px 56px #585353;

}

.new-monster-form form {
  display: flex;
  flex-direction: column;
}

.new-monster-form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.new-monster-form button {
  padding: 0.5rem;
  width: 150px;
}

.story-page{
  /* background: rgb(152, 44, 136); */
  background: linear-gradient(rgb(147, 10, 160), rgb(52, 78, 225));
  padding: 80px;
  /* border: 5px solid red;
  margin-left: 20px;
  margin-right: 20px; */
  font-size: 22px;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.story-page img {
  /* padding: 20px; */
  border: 5px solid rgb(89, 214, 233);
  margin-bottom: 30px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
  border-radius: 20px;
}

.story-page p {
  border: 5px solid rgb(89, 214, 233);
  border-radius: 20px;
  padding: 40px;
  background: rgb(3, 37, 61);
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
  margin-left: 40px;
  margin-right: 40px;
  
}

.story-page h1 {
  font-size: 40px;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
  text-shadow: 3px 2px 4px rgb(7, 3, 3);
  
}

.story-page button {
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 5px 3px 3px rgb(54, 29, 29);
  text-shadow: 2px 2px 2px rgb(7, 3, 3);
  color: white;
  background-color: rgb(8, 67, 156);
  border-width: 5px;
}



