
.page-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: URL("https://cdnb.artstation.com/p/assets/images/images/003/483/485/large/vlad-dorfman-frankenlabfinal.jpg?1474208189");
  
}

.form-container {
  background-image: URL("./images/Clipboard_PNG_Clipart.png");
  display: inline-block;
  background-size: cover;
  padding: 30px;
  
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  
}
.flex-item {
  margin: 7px;
}

.input-container input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 300px;
  height: 50px;
  margin: 10px;
  border-radius: 10px
}

.input-container button {
  padding: 0.5rem;
  width: 200px;
  border-radius: 40px; 
  margin: auto;
  background: rgb(80, 78, 78);
  font-family: luminari, fantasy;
}
  

.page-background h2{
  color: rgb(245, 213, 31);
  font-family: luminari, fantasy;
  text-shadow: 5px 5px 4px rgb(0, 0, 0);
  font-size: 50px;
}

/* 
                HOME PAGE
*/

#home-page {
  /* background-color: black; */
  /* background: linear-gradient(rgb(147, 10, 160), rgb(52, 78, 225)); */
  /* background-attachment: fixed */
  background-image: URL(https://st3.depositphotos.com/1000423/19081/i/450/depositphotos_190817760-stock-photo-no-more-questions-and-doubts.jpg);
  /* background-image: URL(https://media.discordapp.net/attachments/1122893167923056753/1123977117869293568/image.png?width=1152&height=658); */
  background-position: center;
  background-size: cover;
}

#home-page-container {
  padding-top: 20px;
  padding-bottom: 76px;
}

#home-page button {
  margin-bottom: 30px;
  margin-top: 20px;
  font-family: luminari, fantasy;
  padding: 1%;
  font-size: 22px;
  border-radius: 10px;
  background-color: black;
  color: rgb(245, 47, 47);
  border: 2px solid rgb(202, 17, 17); 
  
}

#home-page p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  border: 5px solid rgb(13, 59, 66);  
  background-image: URL(https://media.istockphoto.com/id/654922866/photo/old-yellowed-stained-paper-texture.jpg?s=612x612&w=0&k=20&c=uInwuGGMQMw2RKMillvZz5suVDgIcKD7yvrOmoPVt-k=);
  background-position: center;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
}

#home-page h1{
  font-family: luminari, fantasy;
  font-size: 90px;
  margin-left: 30%;
  margin-right: 30%;
  font-weight: 400;
  color: rgb(245, 213, 31);
  text-shadow: 1px 1px 1px #313131,
  1px 2px 1px #313131,
  1px 3px 1px #313131,
  1px 4px 1px #313131,
  1px 5px 1px #313131,
  1px 6px 1px #313131,
  1px 7px 1px #313131,
  1px 8px 1px #313131,
  1px 9px 1px #313131,
  1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
  /* 3px 3px 4px rgb(90, 86, 86) ,5px 5px 4px rgb(0, 0, 0); */
  /* padding: 4%; */
  /* padding-top: 60px; */
  /* background: radial-gradient(rgb(231, 255, 15), purple); */
}

.glow-on-hover {
  width: 220px;
  height: 75px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  /* background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
  background: linear-gradient(45deg, #ff0000, #f03434, #f05858, #f8923e, #ff0000);
  /* background: rgb(252, 39, 39); */
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* 
                  STORY PAGES
*/

.story-page{
  /* background: rgb(152, 44, 136); */
  background: linear-gradient(rgb(147, 10, 160), rgb(52, 78, 225));
  padding: 40px;
  /* border: 5px solid red;
  margin-left: 20px;
  margin-right: 20px; */
  font-size: 20px;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.story-page img {
  /* padding: 20px; */
  border: 5px solid rgb(89, 214, 233);
  margin-bottom: 30px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
  border-radius: 20px;
}

.story-page p {
  border: 5px solid rgb(89, 214, 233);
  border-radius: 20px;
  padding: 40px;
  background: rgb(3, 37, 61);
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
  margin-left: 40px;
  margin-right: 40px;
  
}

.story-page h1 {
  font-size: 40px;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 4px rgb(7, 3, 3);
  font-family: luminari, fantasy;
}

.story-page button {
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 5px 3px 3px rgb(54, 29, 29);
  text-shadow: 2px 2px 2px rgb(7, 3, 3);
  color: white;
  background-color: rgb(8, 67, 156);
  border-width: 5px;
}

#clothes-lose-container {
  margin-bottom: 27px;
}

/* 
              RIDDLE ANSWER
*/

#riddle-form {
  margin-left: px;
  
}

#riddle-choices-container {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 25px;
  padding-top: 15px;
  font-family: luminari, fantasy;
}

.riddle-choices {
  margin-left: 5px;
}

.story-questions {
  font-family: luminari, fantasy;
  color:khaki;
  font-size: 30px;
}

fieldset {
  margin-left: 200px;
  margin-right: 200px;
  background: rgb(3, 37, 61);
}

/* 
            DROP-DOWN MENU
*/

#detergent-menu{
  border-radius: 8px;
  font-family: luminari, fantasy;
  padding: 3px;
  background: black;
  color: red;
}

/* monster list styling */

.list-header{
  font-family: luminari, fantasy;
  text-shadow: 5px 5px 4px rgb(0, 0, 0);
  font-size: 80px;
  color: rgb(245, 213, 31);
  padding-top: 50px;
  padding-bottom: 70px;
}

.monster-list {
  background-image: URL("https://wallpapers.com/images/hd/smoky-background-4256-x-2832-lu4xujihvbkn4aud.jpg") 
  ;
  background-attachment: fixed
}

.card-header{
  font-family: luminari, fantasy;
  font-size: 20px;
  padding: 5px
}

.card__text{
  font-family: luminari, fantasy;
}

.mayhem-button {
  font-family: luminari, fantasy;
  background-color: rgb(27, 26, 26);
  color: rgb(194, 10, 10);
  border-radius: 10px;
  height:30px;
  width: 175px;
  margin-bottom: 5px;
  box-shadow: 5px 3px 3px rgb(54, 29, 29);
  letter-spacing: 1px;
  font-size: 15px
}

.card-image{
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 5px 3px 3px rgb(54, 29, 29);
}

/* 
                        NAV BAR
*/

#nav-bar-container {
  height: 55px;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid rgb(0, 0, 0);
  padding-bottom: 55px;
}

.animate-charcter
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 80%,
    #231557 90%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 7s linear infinite;
  display: inline-block;
      font-size: 190px;
  padding-bottom: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#nav-header {
font-family: luminari, fantasy;
text-align: left;
font-size: 40px;
padding-top: 18px;
margin-left: 10px;
}

#nav-links-container{
  margin-top: 18px;
  /* margin-top: 15px; */
}

.nav-links {
  margin: 5px;
  padding: 9px;
  margin-right: 20px;
  background-color: rgb(43, 40, 40);
  border-radius: 6px;
  color: white;
  font-size: 20px;
}

.active  {
  margin: 5px;
  padding: 9px;
  margin-right: 20px;
  background-color: rgb(100, 16, 126);
  border-radius: 6px;
}

#nav-bar {
  background: linear-gradient(to bottom right, rgb(53, 50, 50), rgb(224, 224, 218));
  
}

/* Loader */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: white;
}






